# dependencies
*.json
node_modules
backend/node_modules
!backend/package.json
backend/package-lock.json
frontend/node_modules
frontend/.pnp
frontend/pnp.js
!frontend/package.json

# testing
frontend/src/__tests__

# production
frontend/build

# misc
!backend/images/.keep
/backend/images/*

.vscode
backend/.env
frontend/.env.local
frontend/npm-debug.log*
