@charset "UTF-8";
/**** colors ****/
/**** breakpoints ****/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  list-style: none;
}
*::selection {
  color: #fd2d01;
  background-color: #ffd7d7;
}

/**** MEDIA QUERIES ****/
.App {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .Header {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ffd7d7;
  }
}
.Header__logo-container {
  width: 50%;
}
.Header__logo-pic {
  width: 50%;
  padding: 10px;
}
@media screen and (max-width: 992px) {
  .Header__logo-pic {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .Header__logo-pic {
    width: 80%;
    padding: 10px 0%;
  }
}
.Header > nav {
  padding: 10px;
}
@media screen and (max-width: 992px) {
  .Header > nav {
    height: 100%;
  }
}
.Header__nav-list {
  display: flex;
  justify-content: space-around;
  color: #4e5166;
  margin: 0;
}
.Header__nav-list > li {
  padding: 10px;
}
@media screen and (max-width: 992px) {
  .Header__nav-list > li {
    padding: 20px 0;
    text-align: center;
    padding: 0%;
    margin: 20px 10px;
  }
}
.Header__nav-list > li > a :hover {
  color: #fd2d01;
  text-shadow: 1px 1px #ffd7d7;
  transition: ease-out 0.3s;
}

@media screen and (max-width: 992px) {
  .link-text {
    display: none;
  }
}

.ft-icon {
  display: none;
}
@media screen and (max-width: 992px) {
  .ft-icon {
    display: block;
    text-align: center;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  .ft-icon {
    font-size: 1.2em;
  }
}

.activeLink {
  color: #ca2401;
  font-weight: 700;
}

.Banner {
  text-align: center;
  color: #ffffff;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("team.jpg");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .Banner {
    width: 100%;
  }
}
.Banner__title {
  font-size: xxx-large;
  margin: 0%;
}
.Banner__description {
  font-size: large;
}

.FormLayout {
  height: 500px;
  width: 50%;
  max-width: 600px;
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: #4e5166;
  background-color: #ffd7d7;
}
@media screen and (max-width: 992px) {
  .FormLayout {
    width: 70%;
    height: 450px;
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .FormLayout {
    height: 400px;
    width: 90%;
  }
}
.FormLayout > h2 {
  padding: 5%;
  margin: 0%;
  text-align: center;
}

.Form {
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  padding: 5% 10%;
  height: 70%;
  display: flex;
  flex-direction: column;
}
.Form > div {
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.Form label {
  margin: 10px 0px;
  font-size: 1.1em;
}
@media screen and (max-width: 992px) {
  .Form label {
    font-size: 1em;
  }
}
.Form input {
  height: 30px;
}
.Form input::placeholder {
  font-style: italic;
}
@media screen and (max-width: 992px) {
  .Form input::placeholder {
    font-size: 0.8em;
  }
}
.Form__alert {
  color: red;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .Form__alert {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 768px) {
  .Form__alert {
    font-size: 0.7em;
  }
}
.Form__submit-button {
  align-self: center;
  height: 30px;
  width: 60%;
  margin: auto;
  border: 1px solid #4e5166;
  border-radius: 20px;
  background-color: #ffd7d7;
  color: #4e5166;
  box-shadow: 0px 3px 3px rgba(200, 200, 200, 0.8);
}
@media screen and (max-width: 992px) {
  .Form__submit-button {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  .Form__submit-button {
    font-size: 0.9em;
    width: 70%;
  }
}
.Form__submit-button:hover {
  color: #ffffff;
  background-color: #fd2d01;
  box-shadow: 0 3px #4e5166;
  transition: ease-out 0.3s;
}
.Form__submit-button:active {
  transition: ease-in 0.1s;
  transform: translateY(3px);
  box-shadow: none;
  color: #4e5166;
}

.Link-to-signup {
  align-self: center;
}
@media screen and (max-width: 768px) {
  .Link-to-signup {
    font-size: 0.9em;
  }
}

#Form__alert--backend {
  width: 100%;
  text-align: center;
  color: #fd2d01;
  font-size: 1em;
  font-weight: 700;
  margin: auto;
}

.Footer {
  width: 100%;
  height: 100px;
  background-color: #4e5166;
  color: #ffffff;
  font-size: small;
  font-style: italic;
}
.Footer ul {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .Footer ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .Footer ul {
    align-items: flex-start;
  }
}
.Footer__list {
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .Footer__list {
    margin: 5px;
    width: 100%;
    text-align: start;
    font-size: 0.8em;
  }
}

.ContactFormLayout {
  height: 500px;
  width: 50%;
  max-width: 600px;
  margin: 15px 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  color: #4e5166;
  background-color: #ffd7d7;
}
@media screen and (max-width: 992px) {
  .ContactFormLayout {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .ContactFormLayout {
    width: 90%;
    max-width: 500px;
  }
}
.ContactFormLayout > h2 {
  padding: 5%;
  margin: 0%;
  text-align: center;
}

.Form {
  padding: 5%;
}
.Form > div {
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .Form {
    padding: 2%;
    height: 75%;
    max-width: 350px;
  }
}
.Form__submit-button {
  max-width: 200px;
}

#description {
  height: 100px;
}
@media screen and (max-width: 768px) {
  #description {
    height: 150px;
  }
}
#description::placeholder {
  font-style: italic;
  font-size: 0.8em;
}

.Forum__post-container {
  height: 350px;
  width: 60%;
  max-width: 600px;
  margin: 10px 0%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #fd2d01 solid;
  border-radius: 20px;
  background-color: #ffd7d7;
}
@media screen and (max-width: 768px) {
  .Forum__post-container {
    width: 90%;
    max-width: 470px;
  }
}

.Forum__post-h2 {
  width: fit-content;
  margin: 10px 0%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  color: #fd2d01;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .Forum__post-h2 {
    font-size: 1.1em;
  }
}

.Forum__post {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .Forum__post {
    width: 85%;
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  .Forum__post {
    width: 100%;
    max-width: 400px;
  }
}
.Forum__post-title {
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 90%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px #4e5166;
}
.Forum__post-title:focus {
  outline: #4e5166;
}
.Forum__post-title::placeholder {
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .Forum__post-title {
    font-size: 0.9em;
  }
}
.Forum__post-content {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 1px 1px #4e5166;
}
.Forum__post-content:focus {
  outline: #4e5166;
}
.Forum__post-content::placeholder {
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .Forum__post-content {
    font-size: 0.9em;
  }
}
.Forum__post > label {
  display: none;
}
.Forum__post-img {
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  .Forum__post-img {
    font-size: 0.9em;
  }
}
.Forum__post-submit,
.Forum__post .Cancel-modif {
  width: 100px;
  margin: 5px 0;
  padding: 5px;
  background-color: #4e5166;
  color: #ffffff;
  border: 1px solid #4e5166;
  border-radius: 10px;
  box-shadow: 0px 1px 1px #fd2d01;
}
.Forum__post-submit:hover,
.Forum__post .Cancel-modif:hover {
  background-color: #fd2d01;
  box-shadow: 0 2px #4e5166;
  transition: ease-out 0.3s;
}
.Forum__post-submit:active,
.Forum__post .Cancel-modif:active {
  transition: ease-in 0.1s;
  transform: translateY(2px);
  box-shadow: none;
}
.Forum__post-modify-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.Cancel-modif {
  text-align: center;
  line-height: 25px;
}

.Display__post {
  width: 60%;
  max-width: 600px;
  margin: 10px 0%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #4e5166 solid;
  border-radius: 20px;
  background-color: #ffd7d7;
  color: #4e5166;
}
@media screen and (max-width: 768px) {
  .Display__post {
    width: 90%;
    max-width: 470px;
  }
}
.Display__user-pic {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 2px solid #fd2d01;
  border-radius: 50%;
  padding: 2px;
}
@media screen and (max-width: 768px) {
  .Display__user-pic {
    width: 50px;
    height: 50px;
  }
}
.Display__user-pic > img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: -5px -5px;
}
@media screen and (max-width: 768px) {
  .Display__user-pic > img {
    object-position: -5px -5px;
  }
}
.Display__post-header {
  width: 90%;
  margin: 10px 0%;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}
.Display__post-details {
  display: flex;
  flex-direction: column;
}
.Display__post-title {
  text-align: center;
  padding: 0px 5%;
  color: #4e5166;
  text-shadow: 1px 1px #4c4f63;
}
.Display__post-img-container {
  width: 90%;
  overflow: hidden;
}
.Display__post-img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .Display__post-img {
    height: 300px;
  }
}
.Display__post-content {
  width: 90%;
  padding: 20px 0px;
  border-bottom: 2px solid #ffffff;
}

.Header {
  width: 100%;
  height: 10%;
}
.Header__post-user {
  font-size: 0.9em;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .Header__post-user {
    font-size: 0.8em;
  }
}
.Header__post-date {
  font-size: 0.8em;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .Header__post-date {
    font-size: 0.7em;
  }
}

.DeleteImg-btn {
  width: 25%;
  font-size: 0.9em;
  text-align: center;
  padding: 2px;
  font-weight: 700;
  border: 1px solid #fd2d01;
  border-radius: 5px;
  background-color: #ffffff;
}
@media screen and (max-width: 992px) {
  .DeleteImg-btn {
    width: 30%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 768px) {
  .DeleteImg-btn {
    font-size: 0.7em;
  }
}
.DeleteImg-btn:hover {
  cursor: pointer;
  color: #fd2d01;
}
.DeleteImg-btn:hover:active {
  translate: 0px 1px;
}

.LikeOrNot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 10px;
}

.Like {
  display: flex;
  align-items: center;
}

.Like-icon {
  font-size: 1.3em;
}
.Like-icon:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: ease-in-out 0.2s;
}
.Like-icon--disable {
  font-size: 1.3em;
}
.Like-icon--disable:hover {
  cursor: not-allowed;
  transform: none;
}

.like-btn,
.dislike-btn {
  cursor: pointer;
  margin: 5px;
  border: none;
  color: #4e5166;
  background-color: #ffd7d7;
}

.UserLiked {
  margin: 5px;
  border: none;
  color: #fd2d01;
  background-color: #ffd7d7;
}
.UserLiked:hover {
  cursor: pointer;
}

.Disable-btn:hover {
  margin: 5px;
  cursor: not-allowed;
}

.Dislike {
  position: relative;
  top: 3px;
}

.Interacting__post {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.Modifying__post-icon {
  padding: 0% 10px;
}
.Modifying__post-icon:hover {
  cursor: pointer;
  color: #fd2d01;
}

.Deleting__post-icon {
  padding: 0% 10px;
}
.Deleting__post-icon:hover {
  cursor: pointer;
  color: #fd2d01;
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  opacity: 0.4;
  border: none;
  outline: none;
  background-color: #ffd7d7;
  color: #4e5166;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}
@media screen and (max-width: 768px) {
  #scrollUp {
    background-color: #fd2d01;
    opacity: 0.6;
  }
}
#scrollUp:hover {
  opacity: 1;
}
#scrollUp:active {
  color: #ffffff;
  background-color: #fd2d01;
}

.Profile__layout {
  width: 70%;
  max-width: 700px;
  margin: 10px 0%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #fd2d01 solid;
  border-radius: 20px;
  background-color: #ffd7d7;
  color: #4e5166;
}
@media screen and (max-width: 768px) {
  .Profile__layout {
    width: 90%;
    max-width: 470px;
  }
}
@media screen and (max-width: 768px) {
  .Profile__title {
    font-size: 1.4em;
  }
}
.Profile__pic-container {
  width: 75%;
  max-height: 600px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .Profile__pic-container {
    width: 85%;
  }
}
.Profile__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Profile__pic-modifyier {
  display: flex;
  flex-direction: column;
}
.Profile__pic-label {
  margin-top: 5px;
  font-size: 0.9em;
  text-decoration: underline;
}
.Profile__pic-selector {
  margin-top: 2px;
  font-size: 0.8em;
}
.Profile__user {
  width: 100%;
  padding: 25px 0%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .Profile__user {
    font-size: 0.9em;
    padding: 10px 0%;
  }
}
.Profile__user-details {
  margin: 5px 0px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .Profile__user-details {
    width: 85%;
  }
}
.Profile__delete-handler {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .Profile__edit-name {
    width: 50%;
  }
}
.Profile__edit-name + button {
  margin: 0px 5px;
}
@media screen and (max-width: 768px) {
  .Profile__edit-name + button {
    width: 20%;
  }
}

.User__details-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .User__details-name {
    flex-direction: column;
  }
}

.Modifying-name-btn {
  display: flex;
  flex-direction: row;
}

.User__name, .User__last-name, .User__email {
  font-weight: 700;
}

.Modifying-icon:hover {
  cursor: pointer;
  color: #fd2d01;
}

.Unsubscribe,
.Profile__pic-btn {
  margin: 5px 0px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-weight: 700;
  border: 1px solid #fd2d01;
  border-radius: 5px;
  background-color: #ffffff;
}
.Unsubscribe:hover,
.Profile__pic-btn:hover {
  cursor: pointer;
  color: #fd2d01;
}
.Unsubscribe:hover:active,
.Profile__pic-btn:hover:active {
  translate: 0px 1px;
}

/*# sourceMappingURL=style.css.map */
