/**** colors ****/
$color-primary: #fd2d01;
$color-secondary: #ffd7d7;
$color-tertiary: #4e5166;
$black: #000000;
$white: #ffffff;

/**** breakpoints ****/
$breakpoints: (
  mobile: 768px,
  tablet: 992px,
);
