a {
  text-decoration: none;
}

* {
  @include x-box-sizing;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  list-style: none;
  &::selection {
    color: $color-primary;
    background-color: $color-secondary;
  }
}
