.Banner {
  text-align: center;
  color: $white;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('team.jpg');
  background-position: center;
  background-size: cover;
  @include tablet-screen {
    width: 100%;
  }
  &__logo-container {
    display: none;
    @include tablet-screen {
      display: block;
      height: 10%;
      width: 50%;
    }
  }
  &__logo-img {
    @include tablet-screen {
      width: 100%;
    }
  }
  &__title {
    font-size: xxx-large;
    margin: 0%;
  }
  &__description {
    font-size: large;
  }
}
