.Display {
  &__post {
    width: 60%;
    max-width: 600px;
    margin: 10px 0%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px $color-tertiary solid;
    border-radius: 20px;
    background-color: $color-secondary;
    color: $color-tertiary;
    @include mobile-screen {
      width: 90%;
      max-width: 470px;
    }
  }

  &__user-pic {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 2px solid $color-primary;
    border-radius: 50%;
    padding: 2px;
    > img {
      width: 100%;
      object-fit: cover;
    }
    @include mobile-screen {
      width: 50px;
      height: 50px;
    }
  }
  &__post-header {
    width: 90%;
    margin: 10px 0%;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $white;
  }
  &__post-details {
    display: flex;
    flex-direction: column;
  }

  &__post-title {
    padding: 0px 5%;
    color: $color-tertiary;
    text-shadow: 1px 1px darken($color: $color-tertiary, $amount: 1);
  }
  &__post-img-container {
    width: 90%;
    overflow: hidden;
  }
  &__post-img {
    height: 400px;
    width: 100%;
    object-fit: contain;
    @include mobile-screen {
      height: 300px;
    }
  }
  &__post-content {
    width: 90%;
    padding: 20px 0px;
    border-bottom: 2px solid $white;
  }
}

.Header {
  width: 100%;
  height: 10%;

  &__post-user {
    font-size: 0.9em;
    font-weight: 700;
    @include mobile-screen {
      font-size: 0.8em;
    }
  }
  &__post-date {
    font-size: 0.8em;
    font-style: italic;
    @include mobile-screen {
      font-size: 0.7em;
    }
  }
}

.LikeOrNot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding: 10px;
}

.Like-icon {
  font-size: 1.3em;
  &--disable {
    font-size: 1.3em;
    &:hover {
      cursor: not-allowed;
      transform: none;
    }
  }
  &:hover {
    transform: scale(1.3);
    transition: ease-in-out 0.2s;
  }
}

.like-btn,
.dislike-btn {
  border: none;
  color: $color-tertiary;
  background-color: $color-secondary;
}
.UserLiked {
  border: none;
  color: $color-primary;
  background-color: $color-secondary;
}
.Disable-btn:hover {
  cursor: not-allowed;
}
.Dislike {
  position: relative;
  top: 3px;
}
.Interacting__post {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.Modifying__post-icon {
  padding: 0% 10px;
  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

.Deleting__post-icon {
  padding: 0% 10px;

  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  opacity: 0.4;
  border: none;
  outline: none;
  background-color: $color-secondary;
  color: $color-tertiary;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  @include mobile-screen {
    background-color: $color-primary;
    opacity: 0.6;
  }
  &:hover {
    opacity: 1;
  }
  &:active {
    color: $white;
    background-color: $color-primary;
  }
}
