.FormLayout {
  height: 500px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  color: $color-primary;
  background-color: $color-secondary;
  > h2 {
    padding: 20px;
    margin: 0%;
    text-align: center;
  }
}

.Form {
  color: $black;
  background-color: $white;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  padding: 20px;
  height: 70%;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  label {
    margin: 5px 0px;
  }
  input {
    height: 30px;
    &::placeholder {
      font-style: italic;
      font-size: small;
    }
  }
  &__alert {
    color: red;
    font-size: small;
    font-weight: 700;
  }
  &__submit-button {
    align-self: center;
    height: 30px;
    width: 60%;
    margin: 20px 0px;
    border: 1px solid $color-tertiary;
    border-radius: 20px;
    background-color: $color-secondary;
    color: $color-tertiary;
    box-shadow: 0px 3px 3px rgb(200 200 200 / 80%);
    &:hover {
      color: $white;
      background-color: $color-primary;
      box-shadow: 0 3px $color-tertiary;
      transition: ease-out 0.3s;
    }
    &:active {
      transition: ease-in 0.1s;
      transform: translateY(3px);
      box-shadow: none;
      color: $color-tertiary;
    }
  }
}
