.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet-screen {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid $color-secondary;
  }
  &__logo-container {
    width: 50%;
    @include tablet-screen {
      width: 100%;
    }
    @include mobile-screen {
      width: 50%;
    }
  }
  &__logo-pic {
    width: 50%;
    padding: 10px;
    @include mobile-screen {
      width: 80%;
      padding: 20px 0%;
    }
  }
  & > nav {
    padding: 10px;
    @include tablet-screen {
      height: 100%;
    }
  }
  &__nav-list {
    display: flex;
    justify-content: space-around;
    color: $color-tertiary;
    margin: 0;

    > li {
      padding: 10px;

      @include tablet-screen {
        padding: 20px 0;
        text-align: center;
        padding: 0%;
        margin: 20px 10px;
      }
      > a :hover {
        color: $color-primary;
        text-shadow: 1px 1px $color-secondary;
        transition: ease-out 0.3s;
      }
    }
  }
}

.link-text {
  @include tablet-screen {
    display: none;
  }
}

.fi {
  display: none;
  @include tablet-screen {
    display: contents;
    text-align: center;
    font-size: 1.3em;
  }
  @include mobile-screen {
    font-size: 1.2em;
  }
}

.activeLink {
  color: $color-primary;
  font-weight: 700;
}
